.img{
    width: 100%;
    height: auto;
    max-width: 450px;
    max-height: 600px;
}
/* .prueba{
    background-image: url('https://i.pinimg.com/originals/ed/01/22/ed012259c25cd0a787064216db37c22d.gif');
} */