/* You can add global styles to this file, and also import other style files */
*{
    padding: 0px;
    margin:0px;
}
.invalid-field{
    color: rgb(238, 125, 125);
}

body{
    background-color: #1E2436;
}

.publicacion{
    background-color: #dadddc;
    border-width: 5px ;
    border-radius: 2%;
}